---
import { POST_COLORS, TAG_CLASSES } from "../constants";

interface Props {
  post: any;
  index: number;
}

const { post, index } = Astro.props;
const color = POST_COLORS[index % POST_COLORS.length];
const tagClass = TAG_CLASSES[index % TAG_CLASSES.length];
---

<li class="post-item">
  <div class="post-item-left">
    <div class="post-item-indicator" style={`background: ${color};`}></div>
    <a
      class="post-item-title"
      href={post.data.externalUrl || `/blog/${post.id}`}
      target={post.data.externalUrl ? "_blank" : undefined}
    >
      {post.data.featured && <svg class="featured-icon" width="12" height="12"><use href="#icon-star" /></svg>}
      {post.data.title}
      {post.data.externalUrl && <svg class="external-icon" width="12" height="12"><use href="#icon-external" /></svg>}
    </a>
  </div>
  <div class="post-item-meta">
    {post.data.tags?.[0] && <span class={`tag ${tagClass}`}>{post.data.tags[0]}</span>}
    <span class="post-item-date">
      {new Date(post.data.date).toLocaleDateString('en-US', { day: '2-digit', month: 'short', year: 'numeric' })}
    </span>
  </div>
</li>
